# Commerce RecSys

## About Data

- Famous Fashion Commerce data
    - De-identificated & Sampled

- User
    - id
    - birth date
    - gender

- Product
    - id
    - name
    - category
    - price
    - brand

- Event (Click, Like, Add to cart, Purchase)
    - session_id
    - timestamp
    - device
    - region

## Preperation

- Postgresql
    > brew install postgresql

- psycopg2: Connect Postgresql in Python
    > pip install psycopg
    > pip install ipython-sql

- Dbeaver: DB Client SW
    - https://dbeaver.io/

## 1) Best Recommendation

- 'Best' in various groups
    - 전체 베스트
    - 시간대별 베스트
    - 브랜드별 베스트
    - 카테고리별 베스트
    - 성별 베스트
    - ...

- 'Best' in various metrics
    - 구매 베스트
    - 클릭 베스트
    - 구매전환 베스트
    - ...

### Load extensions

In [1]:
%load_ext sql

### Connect to DB

In [2]:
%sql postgresql+psycopg2://postgres:rhrkdqls123!@127.0.0.1:5433/Commerce

### Load Data

- sampled_events.csv
- sampled_products.csv
-sampled_users.csv

Create Table

In [3]:
# %%sql

# drop table if exists cmc_event;

# create table cmc_event(
#     session_id              varchar(40) null,
#     event_timestamp         timestamp null,
#     event_name              varchar(30) null,
#     user_no                 varchar(30) null,
#     item_no                 varchar(30) null,
#     device_type             varchar(30) null,
#     mobile_brand_name       varchar(50) null,
#     mobile_model_name       varchar(50) null,
#     mobile_marketing_name   varchar(50) null,
#     country                 varchar(50) null,
#     region                  varchar(50) null,
#     platform                varchar(30) null
# );

# drop table if exists cmc_user;

# create table cmc_user(
#     user_no                 varchar(30) null,
#     birth_date              varchar(30) null,
#     gender                  varchar(10) null
# );

# drop table if exists cmc_product;

# create table cmc_product(
#     item_no                 varchar(30) null,
#     item_name               varchar(200) null,
#     image_name              varchar(100) null,
#     price                   varchar(30) null,
#     category1_code          varchar(20) null,
#     category1_name          varchar(20) null,
#     category2_code          varchar(20) null,
#     category2_name          varchar(20) null,
#     category3_code          varchar(20) null,
#     category3_name          varchar(20) null,
#     brand_no                varchar(20) null,
#     brand_name              varchar(100) null
# );

\* 데이터 카피는 Dbeaver 내 import data를 이용하였다.

### Check Data

Check event data

In [4]:
%sql select * from cmc_event limit 1;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
1 rows affected.

[('f7b73d578ec1501a88a6b7fe9a7e0e06', datetime.datetime(2021, 6, 8, 22, 54, 7, 420000), 'click_item', 'eBknpm4sim2isk5WcfNY+w==', 'ALGtAjv6BjBZoSO4UGz9Yg==', 'mobile', 'Apple', 'iPhone', '', 'South Korea', 'Seoul', 'IOS', 'iOS 14.4.2')]

Check user data

In [5]:
%sql select * from cmc_user limit 1;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
1 rows affected.

[('++MXKfwkOw4VFn9HkVCRrw==', '1994-08-25', 'F')]

Check product data

In [6]:
%sql select * from cmc_product limit 1;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
1 rows affected.

[('++/211gtgspgB1TaPWEUQw==', '베스트 코트\n( Vest Coat )_lavender', '6842e3f320ef4459fac54dcea70c8245', '1150000.0', '243100100', '의류', '243101100', '아우터', '243101103', '코트', '4308', 'FOCEPS')]

Read data into variable

In [7]:
result = %sql select item_no, item_name, image_name, price, category1_name, category2_name, category3_name, brand_name from cmc_product;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
283326 rows affected.

In [8]:
print(type(result))

<class 'sql.run.ResultSet'>

- 전체 베스트 추출
    - 클릭 기반
    - 구매 기반
    - 클릭 + 구매 기반

- 카테고리 베스트 추출
    - 상의
    - 하의

- 성별에 따른 베스트 추출
    - 남성
    - 여성

### Best Product from Click Log

In [13]:
%%sql

drop table if exists cmc_product_click_best;

create table cmc_product_click_best as
select t.item_no, t.score, row_number() over (order by score desc) rank 
from(
	select item_no, count(distinct session_id) score
	from cmc_event a
	where event_name = 'click_item'
		and a.event_timestamp between '2021-07-18' and '2021-07-25'
	group by a.item_no
	) t
order by score desc;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
Done.
100199 rows affected.

[]

In [15]:
result = %sql select * from cmc_product_click_best a join cmc_product b on a.item_no = b.item_no order by score desc limit 3;
result

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('Q0FgPI5gYPwi7sDRXYc2MA==', 570, 1, 'Q0FgPI5gYPwi7sDRXYc2MA==', 'MARDI T SHIRT - FLOWER / DDANJI (12COLOR)', '289766c2d073495ad1aba32613b94218', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi'),
 ('xb9hqjLtKpMFIU5HgmM4NA==', 556, 2, 'xb9hqjLtKpMFIU5HgmM4NA==', '[MEDUSE] 메듀즈 샌들  Womens  SUN  (Noir 블랙)', '1b1e951b9ebc30ed8228bb580d73de4e', '38000.0', '244100100', '잡화', '244101100', '신발', '244101108', '샌들', '10827', 'MEDUSE'),
 ('Zmhse4Y9bz5dnkI0vNphrA==', 415, 3, 'Zmhse4Y9bz5dnkI0vNphrA==', 'Oversized World Best Print Tee in D/Grey VW1ME053-13', '165a3912612f51f69b65b37e1706e322', '63000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3266', 'RAIVE')]

### Best Products from Purchase Log

In [18]:
%%sql
drop table if exists cmc_product_purchase_best;

create table cmc_product_purchase_best as
select t.item_no, t.score, row_number() over (order by score desc) rank 
from(
	select a.item_no, sum(log(b.price::float + 1)::int) score
	from cmc_event a 
		join cmc_product b on b.item_no = a.item_no 
	where a.event_name = 'purchase_success'
		and a.event_timestamp between '2021-07-18' and '2021-07-25'
	group by a.item_no 
	) t
order by score desc;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
Done.
17510 rows affected.

[]

In [19]:
result = %sql select * from cmc_product_purchase_best a join cmc_product b on a.item_no = b.item_no order by score desc limit 3;
result

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('Q0FgPI5gYPwi7sDRXYc2MA==', 6500, 1, 'Q0FgPI5gYPwi7sDRXYc2MA==', 'MARDI T SHIRT - FLOWER / DDANJI (12COLOR)', '289766c2d073495ad1aba32613b94218', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi'),
 ('0whP9oGO0f1EHkVqP4gxfg==', 2200, 2, '0whP9oGO0f1EHkVqP4gxfg==', '마리아쥬 프레르 마르코 폴로 티백', '0fa3145239da89896b503da1ff6ed137', '24900.0', '249100100', '식품', '249105100', '음료', '249105105', '차류', '12045', '킴델숀_푸드'),
 ('upl3JSBbPyfbBCdzGXbyEw==', 1560, 3, 'upl3JSBbPyfbBCdzGXbyEw==', 'THE FLOWER MARDI SHORT SLEEVE WHITE-GREEN', '21a51d9d227caef4e62e580c6a63f1ba', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi')]

### Best Products from Purchase and Click Log

Scoring with w1\*view + w2\*order

In [20]:
%%sql
drop table if exists cmc_product_best;

create table cmc_product_best as
select t.item_no, t.score, row_number() over (order by score desc) rank 
from(
    select item_no, sum(score) score
    from (
        select item_no, score
        from cmc_product_click_best
        union all
        select item_no, score * 3
        from cmc_product_purchase_best
        ) t
    group by item_no 
	) t
order by score desc;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
Done.
103123 rows affected.

[]

In [21]:
result = %sql select * from cmc_product_best a join cmc_product b on a.item_no = b.item_no order by score desc limit 3;
result

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('Q0FgPI5gYPwi7sDRXYc2MA==', Decimal('20070'), 1, 'Q0FgPI5gYPwi7sDRXYc2MA==', 'MARDI T SHIRT - FLOWER / DDANJI (12COLOR)', '289766c2d073495ad1aba32613b94218', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi'),
 ('0whP9oGO0f1EHkVqP4gxfg==', Decimal('6714'), 2, '0whP9oGO0f1EHkVqP4gxfg==', '마리아쥬 프레르 마르코 폴로 티백', '0fa3145239da89896b503da1ff6ed137', '24900.0', '249100100', '식품', '249105100', '음료', '249105105', '차류', '12045', '킴델숀_푸드'),
 ('upl3JSBbPyfbBCdzGXbyEw==', Decimal('4863'), 3, 'upl3JSBbPyfbBCdzGXbyEw==', 'THE FLOWER MARDI SHORT SLEEVE WHITE-GREEN', '21a51d9d227caef4e62e580c6a63f1ba', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi')]

### Category Best Product

In [22]:
%%sql

drop table if exists cmc_category1_best;

create table cmc_category1_best as
select b.category1_code, b.item_no, a.score, row_number () over (partition by b.category1_code order by a.score desc) rank 
from cmc_product_best a
	join cmc_product b on b.item_no = a.item_no;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
Done.
103123 rows affected.

[]

In [23]:
result = %sql select * from cmc_category1_best a join cmc_product b on a.item_no = b.item_no order by score desc limit 3;
result

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('243100100', 'Q0FgPI5gYPwi7sDRXYc2MA==', Decimal('20070'), 1, 'Q0FgPI5gYPwi7sDRXYc2MA==', 'MARDI T SHIRT - FLOWER / DDANJI (12COLOR)', '289766c2d073495ad1aba32613b94218', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi'),
 ('249100100', '0whP9oGO0f1EHkVqP4gxfg==', Decimal('6714'), 1, '0whP9oGO0f1EHkVqP4gxfg==', '마리아쥬 프레르 마르코 폴로 티백', '0fa3145239da89896b503da1ff6ed137', '24900.0', '249100100', '식품', '249105100', '음료', '249105105', '차류', '12045', '킴델숀_푸드'),
 ('243100100', 'upl3JSBbPyfbBCdzGXbyEw==', Decimal('4863'), 2, 'upl3JSBbPyfbBCdzGXbyEw==', 'THE FLOWER MARDI SHORT SLEEVE WHITE-GREEN', '21a51d9d227caef4e62e580c6a63f1ba', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi')]

### Gender Best

In [26]:
%%sql

drop table if exists cmc_product_gender_best;

create table cmc_product_gender_best as
with click_best as (
	select b.gender, item_no, count(distinct session_id) score
	from cmc_event a
	join cmc_user b
	on b.user_no = a.user_no 
	where event_name = 'click_item'
		and a.event_timestamp between '2021-07-18' and '2021-07-25'
	group by b.gender, a.item_no 
	),
	purchase_best as (
	select c.gender, a.item_no, sum(log(b.price::float + 1)::int) score
	from cmc_event a 
		join cmc_product b on b.item_no = a.item_no
		join cmc_user c on c.user_no = a.user_no 
	where a.event_name = 'purchase_success'
		and a.event_timestamp between '2021-07-18' and '2021-07-25'
	group by c.gender, a.item_no 
	)
select t.gender, t.item_no, t.score, row_number() over (order by score desc) rank 
from(
	    select gender, item_no, sum(score) score
	    from (
	        select gender, item_no, score
	        from click_best
	        union all
	        select gender, item_no, score * 3
	        from purchase_best
	        ) t
	    group by gender, item_no 
		) t
	order by score desc;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
Done.
140719 rows affected.

[]

In [27]:
result = %sql select * from cmc_product_gender_best a join cmc_product b on a.item_no = b.item_no order by score desc limit 3;
result

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('F', 'Q0FgPI5gYPwi7sDRXYc2MA==', Decimal('16611'), 1, 'Q0FgPI5gYPwi7sDRXYc2MA==', 'MARDI T SHIRT - FLOWER / DDANJI (12COLOR)', '289766c2d073495ad1aba32613b94218', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi'),
 ('F', '0whP9oGO0f1EHkVqP4gxfg==', Decimal('5058'), 2, '0whP9oGO0f1EHkVqP4gxfg==', '마리아쥬 프레르 마르코 폴로 티백', '0fa3145239da89896b503da1ff6ed137', '24900.0', '249100100', '식품', '249105100', '음료', '249105105', '차류', '12045', '킴델숀_푸드'),
 ('F', 'upl3JSBbPyfbBCdzGXbyEw==', Decimal('3941'), 3, 'upl3JSBbPyfbBCdzGXbyEw==', 'THE FLOWER MARDI SHORT SLEEVE WHITE-GREEN', '21a51d9d227caef4e62e580c6a63f1ba', '42000.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '3689', 'Mardi Mercredi')]