# Commerce RecSys

## About Data

- Famous Fashion Commerce data
    - De-identificated & Sampled

- User
    - id
    - birth date
    - gender

- Product
    - id
    - name
    - category
    - price
    - brand

- Event (Click, Like, Add to cart, Purchase)
    - session_id
    - timestamp
    - device
    - region

## Preperation

- Postgresql
    > brew install postgresql

- psycopg2: Connect Postgresql in Python
    > pip install psycopg
    > pip install ipython-sql

- Dbeaver: DB Client SW
    - https://dbeaver.io/

## 1) Best Recommendation

- 'Best' in various groups
    - 전체 베스트
    - 시간대별 베스트
    - 브랜드별 베스트
    - 카테고리별 베스트
    - 성별 베스트
    - ...

- 'Best' in various metrics
    - 구매 베스트
    - 클릭 베스트
    - 구매전환 베스트
    - ...

### Load extensions

In [1]:
%load_ext sql

### Connect to DB

In [2]:
%sql postgresql+psycopg2://postgres:rhrkdqls123!@127.0.0.1:5433/Commerce

### Load Data

- sampled_events.csv
- sampled_products.csv
-sampled_users.csv

Create Table

In [3]:
# %%sql

# drop table if exists cmc_event;

# create table cmc_event(
#     session_id              varchar(40) null,
#     event_timestamp         timestamp null,
#     event_name              varchar(30) null,
#     user_no                 varchar(30) null,
#     item_no                 varchar(30) null,
#     device_type             varchar(30) null,
#     mobile_brand_name       varchar(50) null,
#     mobile_model_name       varchar(50) null,
#     mobile_marketing_name   varchar(50) null,
#     country                 varchar(50) null,
#     region                  varchar(50) null,
#     platform                varchar(30) null
# );

# drop table if exists cmc_user;

# create table cmc_user(
#     user_no                 varchar(30) null,
#     birth_date              varchar(30) null,
#     gender                  varchar(10) null
# );

# drop table if exists cmc_product;

# create table cmc_product(
#     item_no                 varchar(30) null,
#     item_name               varchar(200) null,
#     image_name              varchar(100) null,
#     price                   varchar(30) null,
#     category1_code          varchar(20) null,
#     category1_name          varchar(20) null,
#     category2_code          varchar(20) null,
#     category2_name          varchar(20) null,
#     category3_code          varchar(20) null,
#     category3_name          varchar(20) null,
#     brand_no                varchar(20) null,
#     brand_name              varchar(100) null
# );

\* 데이터 카피는 Dbeaver 내 import data를 이용하였다.

### Check Data

Check event data

In [4]:
%sql select * from cmc_event limit 3;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('f7b73d578ec1501a88a6b7fe9a7e0e06', datetime.datetime(2021, 6, 8, 22, 54, 7, 420000), 'click_item', 'eBknpm4sim2isk5WcfNY+w==', 'ALGtAjv6BjBZoSO4UGz9Yg==', 'mobile', 'Apple', 'iPhone', '', 'South Korea', 'Seoul', 'IOS', 'iOS 14.4.2'),
 ('526026967716dd010eda73101038ddba', datetime.datetime(2021, 6, 8, 22, 54, 7, 424000), 'click_item', 'qHdVlxMmB2D1ZF7zbFS/uw==', '2LfnRZQI3SD8kRJkifYsYw==', 'mobile', 'Apple', 'iPhone XS', '', 'South Korea', 'Seoul', 'IOS', 'iOS 14.5.1'),
 ('d87f2631b4628b985557314a8381d83f', datetime.datetime(2021, 6, 8, 22, 54, 7, 785000), 'click_item', 'zkm1vpRxySiSkL26n6yxqQ==', 'gO7qm/jAcmmyvdhgALpQdQ==', 'mobile', 'Apple', 'iPhone', '', 'South Korea', 'Seoul', 'IOS', 'iOS 14.3')]

Check user data

In [5]:
%sql select * from cmc_user limit 3;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('++MXKfwkOw4VFn9HkVCRrw==', '1994-08-25', 'F'),
 ('++QhQ1e1epIwx3vRl2Jo3g==', '1994-08-20', 'F'),
 ('++gfxvExR4bVIl3/hWsX7Q==', '1990-11-14', 'F')]

Check product data

In [6]:
%sql select * from cmc_product limit 3;

 * postgresql+psycopg2://postgres:***@127.0.0.1:5433/Commerce
3 rows affected.

[('++/211gtgspgB1TaPWEUQw==', '베스트 코트\n( Vest Coat )_lavender', '6842e3f320ef4459fac54dcea70c8245', '1150000.0', '243100100', '의류', '243101100', '아우터', '243101103', '코트', '4308', 'FOCEPS'),
 ('++4eWFkX4oCtVYiKi34/Dw==', '21SS 넥 페이스 패치 기모 맨투맨 블랙 CI0062 AHJ', '1bdc06804580fddfbe46d4e2af140f08', '466830.0', '243100100', '의류', '243102100', '상의', '243102103', '티셔츠', '9302', 'Acne Studios_바이스트'),
 ('++BoE+rYvLTJEAXMQFQLpQ==', '[서울웰컴티 선물 세트] 일상 옥수수차', 'cb4a9bb103f9bd84d5d126ad4acec74b', '15000.0', '249100100', '식품', '249105100', '음료', '249105105', '차류', '4775', 'Urbanbookshop')]

Read data into variable

이슈: 아래 코드를 실행 시 VSCode가 틩긴다

In [6]:
# result = %sql select item_no, item_name, image_name, price, category1_name, category2_name, category3_name, brand_name from cmc_product;